<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->

 <title>Home</title>
<!-- BOOTSTRAP CORE STYLE CSS -->
<link href="assets/css/bootstrap.css" rel="stylesheet" />
  <!-- VEGAS SLIDESHOW STYLE CSS -->
<link href="assets/plugins/vegas/jquery.vegas.min.css" rel="stylesheet" />
 <!-- FONTAWESOME STYLE CSS -->
<link href="assets/css/font-awesome.min.css" rel="stylesheet" />
<!-- CUSTOM STYLE CSS -->
<link href="assets/css/style.css" rel="stylesheet" />    
<!-- GOOGLE FONT -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
 <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

</head>
<body data-spy="scroll" data-target="#menu">
			<section id="contact" >
			
   <div class="container">
	   <div class="row">
		   <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2  text-center">
		   <h2> WELCOME</h2>
			<p >
				   填写相关信息
				 
			   </p>
		   </div>
		   </div>
		   <div class="row ">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 text-center">
			   <form method="post" action="http://182.92.211.22:8088/QR/upload">
			   		<label>委托单位</label>
				 	<div class="form-group" >
						<input type="text" name="client" class="form-control" required="required" />
					</div>
				   <label>报告编号</label>
				   <div class="form-group" >
					   <input type="text" name="number" class="form-control" required="required" />
				   </div>

				   <label>试验项目</label>
				   <div class="form-group" >
					   <input type="text" name="projectName" class="form-control" required="required" />
				   </div>

				   <label>签发时间</label>
				   <div class="form-group" >
					   <input type="date" name="date" class="form-control" required="required" />
				   </div>

				   <label>审批人</label>
				   <div class="form-group" >
					   <input type="text" name="auditPerson" class="form-control" required="required" />
				   </div>

				   <label>检测结果</label>
				   <div class="form-group" >
					   <input type="text" name="result" class="form-control" required="required" />
				   </div>

				   <label>额外信息</label>
				   <div class="form-group" >
					   <textarea  name="extraText" id="message" required="required" class="form-control" style="min-height:120px;" ></textarea>
				   </div>
				  <div class="form-group">
								<button  type="submit" class="btn custom-btn-1 btn-block">提交</button>
							</div>
				   
					  </form>
			</div>
		</div>
	</div>
</section>

<!-- CORE JQUERY  -->
<script src="assets/plugins/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<script src="assets/plugins/bootstrap.js"></script>
 <!-- EASING SCROLL SCRIPTS PLUGIN  -->
<script src="assets/plugins/vegas/jquery.vegas.min.js"></script>
<!-- VEGAS SLIDESHOW SCRIPTS  -->
<script src="assets/plugins/jquery.easing.min.js"></script>
<!-- CUSTOM SCRIPTS  -->
<script src="assets/js/custom.js"></script>

</body>
</html>