<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhouyunji.dao.AddressDao">

    <insert id="insertAddress" parameterType="com.zhouyunji.bean.address.Address">
         insert into address(user_id,name,phone_no,town,detail,isDefault,district_code)
        values (#{userId},#{name},#{phoneNo},#{town},#{detail},#{isDefault},#{districtCode})
    </insert>

    <select id="getAllAddress" resultType="com.zhouyunji.bean.address.Address" resultMap="trans">
        select * from address where user_id = #{userId}
    </select>

    <delete id="deleteAddress" >
        delete from address where id = #{id}
    </delete>

    <update id="updateAddress" parameterType="com.zhouyunji.bean.address.Address">
        update address
        <trim prefix="set" suffixOverrides=",">
            <if test="#{name}!=null">name=#{name},</if>
            <if test="#{phoneNo}!=null">phone_no=#{phoneNo},</if>
            <if test="#{town}!=null">town=#{town},</if>
            <if test="#{detail}!=null">detail=#{detail},</if>
            <if test="#{districtCode}!=null">district_code=#{districtCode},</if>
            <if test="#{isDefault}!=null">isDefault=#{isDefault},</if>
        </trim>
        WHERE id=#{id};
    </update>

    <resultMap id="trans" type="com.zhouyunji.bean.address.Address">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="name" property="name"/>
        <result column="phone_no" property="phoneNo"/>
        <result column="town" property="town"/>
        <result column="detail" property="detail"/>
        <result column="district_code" property="districtCode"/>
        <result column="isDefault" property="isDefault"/>
    </resultMap>
</mapper>