<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhouyunji.dao.AddressDao">

    <insert id="insertAddress" parameterType="com.zhouyunji.bean.address.Address">
         insert into address(user_id,name,phone_no,city,town,street,house,detail,isDefault)
        values (#{userId},#{name},#{phoneNo},#{city},#{town},#{street},#{house},#{detail},#{isDefault})
    </insert>

    <select id="getAllAddress" resultType="com.zhouyunji.bean.address.Address" resultMap="trans">
        select * from address where user_id = #{userId}
    </select>

    <delete id="deleteAddress" >
        delete from address where id = #{id}
    </delete>

    <update id="updateAddress" parameterType="com.zhouyunji.bean.address.Address">
        update address
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">name=#{name},</if>
            <if test="phoneNo!=null">phone_no=#{phoneNo},</if>
            <if test="city!=null">city=#{city},</if>
            <if test="town!=null">town=#{town},</if>
            <if test="street!=street">street=#{street},</if>
            <if test="house!=null">house=#{house},</if>
            <if test="detail!=null">detail=#{detail},</if>
            <if test="isDefault!=null">isDefault=#{isDefault},</if>
        </trim>
        WHERE id=#{id}
    </update>

    <resultMap id="trans" type="com.zhouyunji.bean.address.Address">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="name" property="name"/>
        <result column="phone_no" property="phoneNo"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="town" property="town"/>
        <result column="street" property="street"/>
        <result column="house" property="house"/>
        <result column="isDefault" property="isDefault"/>
    </resultMap>
</mapper>