<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhouyunji.dao.RecycleItemDao">

    <insert id="insertRecycleItem" parameterType="com.zhouyunji.bean.recycle.RecycleItem">
         insert into recycle_item(order_id,recycle_kind,weight_range)
        values (#{orderId},#{recycleKind},#{weightRange})
    </insert>

    <select id="queryItemsByOrderId" resultType="com.zhouyunji.bean.recycle.RecycleItem" resultMap="trans">
        select * from recycle_item where order_id = #{orderId}
    </select>

    <!--<update id="updateAddress" parameterType="com.zhouyunji.bean.address.Address">-->
        <!--update address-->
        <!--<trim prefix="set" suffixOverrides=",">-->
            <!--<if test="name!=null">name=#{name},</if>-->
            <!--<if test="phoneNo!=null">phone_no=#{phoneNo},</if>-->
            <!--<if test="city!=null">city=#{city},</if>-->
            <!--<if test="town!=null">town=#{town},</if>-->
            <!--<if test="street!=street">street=#{street},</if>-->
            <!--<if test="house!=null">house=#{house},</if>-->
            <!--<if test="detail!=null">detail=#{detail},</if>-->
            <!--<if test="isDefault!=null">isDefault=#{isDefault},</if>-->
        <!--</trim>-->
        <!--WHERE id=#{id}-->
    <!--</update>-->

    <resultMap id="trans" type="com.zhouyunji.bean.recycle.RecycleItem">
        <!--<id column="id" property="id"/>-->
        <result column="order_id" property="orderId"/>
        <result column="recycle_kind" property="recycleKind"/>
        <result column="weight_range" property="weightRange"/>
    </resultMap>
</mapper>